.sidebar {
  position: fixed;
  .aside {
    left: 0;
    width: 200px;
  }
  height: 100%;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 200px;
  margin-bottom: 20px;
  left: 0px;
  height: calc(90vh - 80px) !important;
  margin-top: 17px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  left: 8px;
  border-radius: 4px;
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 4px;
    font-size: 1.6em;
  }
  svg {
    color: #1d2153;
  }
  hr {
    margin-top: 0;
    border: 0.5px solid #eee;
    width: 100%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // width: 280px;
    position: relative;
    top: 35px;

    li {
      display: block;
      color: #1d2153;
      text-decoration: none;
      text-align: left;
      padding: 15px 2px 15px 35px;
    }
    li:hover {
      background: #b3ffab; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #12fff7,
        #b3ffab
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #12fff7,
        #b3ffab
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: 000;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sidebar {
    position: relative;
    height: calc(52vh - 80px) !important;

    max-width: 359px;
    .aside {
      width: 100%;
      h3 {
        margin: 13px;
      }
      ul {
        li {
          padding: 5px 2px 5px 35px;
        }
      }
    }
  }
}
