@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
body {
  background-image: linear-gradient(to right, #e3e3e3, white);
  color: #2b2b2b;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.book-list {
  .row .col.s3 {
    width: 24%;
    margin: 5px !important;
  }
  h4 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
  }
  h4::after {
    border: 1px solid #000;
  }
  .book-box {
    padding: 0 !important;
    margin: 0 !important;
    .book-title {
      min-height: 50px;
      text-align: left;
      padding: 8px 8px 5px 8px;
      font-size: 1.2em;
    }
    .author {
      padding: 0px 8px 0px 8px;
      span {
        font-weight: bold;
      }
    }
    .card-image {
      padding: 0;
      margin: 0;
      img {
        width: 100%;
      }
    }
  }
}
.page {
  text-align: center;
  ul {
    li {
      display: inline-block;
      margin: 4px;
      background: #ff416c; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #ff4b2b,
        #ff416c
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #ff4b2b,
        #ff416c
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: #fff;
      width: 40px;
      padding: 10px;
      border-radius: 4px;
      font-weight: bold;
    }
    li.active {
      background: black;
    }
  }
}
.styles_modal__gNwvD {
  border-radius: 4px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}
