nav {
  background: #b3ffab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #12fff7,
    #b3ffab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #12fff7,
    #b3ffab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .brand-logo {
    margin: 10px 0 0 0;
  }
  .search-box::placeholder {
    color: black;
  }
  .search-box {
    background: url("./images/search.svg") no-repeat scroll 7px 7px;
    padding-left: 30px;
    background-size: 23px;
    background-position-y: 10px;
    background-position-x: 2px;
  }
}
